**/__pycache__/
.idea/

ext/statannot
models
venv

hypo_seg_linux.zip
hypo_seg_mac.zip
hypo_seg_windows.zip

hypothalamus_seg/check_augm_model.py
hypothalamus_seg/check_model.py
hypothalamus_seg/label_fusion.py
hypothalamus_seg/training_gpuid.py

scripts/check_augm_model.py
scripts/check_model.py
scripts/combine_results.py
scripts/edit_subunit_labels.py
scripts/label_fusion_analysis.py
scripts/predict_full_options.py
scripts/prepare_QC.py
scripts/preprocess_cortex.py
scripts/training_gpuid.py

build
dist
hooks
cli.py
hypo_seg.spec
run_pyinstaller